<div class="max-w-md mx-auto mt-10 p-8 bg-white rounded-lg shadow-md border border-gray-200">
  <div class="mb-6">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo</label>
    <input
      [(ngModel)]="user.email"
      name="email"
      required
      placeholder="ejemplo@correo.com"
      class=" appearance-none border rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6]"
      id="email"
      type="email"
    >
  </div>
  <div class="mb-6">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
    <input
      [(ngModel)]="user.password"
      name="password"
      type="password"
      required
      placeholder="Contraseña"
      class=" appearance-none border rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6]"
      id="password"
    >
  </div>
  <div class="mb-4 text-center">
    <button
      (click)="login()"
      class="btn-void"
      type="button"
    >
      Iniciar sesión
    </button>
  </div>
  
  <div class="text-center text-sm text-gray-600 z-10 mb-4">
    ¿Nuevo usuario? <a routerLink="/register" class="text-blue-500 hover:underline">Crea una cuenta</a>
  </div>
  <div class="flex justify-center items-center my-4">
    <div class="border-t border-gray-300 w-1/3"></div>
    <div class="text-gray-500 mx-2"></div>
    <div class="border-t border-gray-300 w-1/3"></div>
  </div>
<div>
  <button
    class="btn-void font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline w-full flex items-center justify-center"
    (click)="loginWithGoogle()" 
    type="button"
  >
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
</svg>
    Continua con Google
  </button>

  <button
  class="bg-white hover:bg-gray-100 border border-gray-300 text-gray-700 font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline w-full flex items-center justify-center"
  (click)="loginWithFacebook()"
  type="button"
>
  <!-- Icono de Facebook -->
  <svg class="w-5 h-5 mr-2 fill-current text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M22 12a10 10 0 1 0-11.6 9.9v-7h-2v-3h2v-2.3c0-2 1.2-3.1 3-3.1.9 0 1.8.1 1.8.1v2h-1c-1 0-1.3.6-1.3 1.2V11h2.2l-.4 3h-1.8v7A10 10 0 0 0 22 12z"/>
  </svg>
  Continuar con Facebook
</button>

</div>
</div>