<div class="max-w-md mx-auto mt-10 p-8 bg-white rounded-lg shadow-md border border-gray-200">
  <div class="mb-6">
    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
    <input
      [(ngModel)]="user.name"
      name="name"
      required
      class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
      id="name"
      type="name"
    >
  </div>
  <div class="mb-6">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo</label>
    <input
      [(ngModel)]="user.email"
      name="email"
      required
      placeholder="ejemplo@correo.com"
      class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
      id="email"
      type="email"
    >
  </div>
  <div class="mb-6">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
    <input
      [(ngModel)]="user.password"
      name="password"
      type="password"
      required
      placeholder="Contraseña"
      class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
      id="password"
    >
  </div>
  <div class="mb-6">
    <label for="password_confirmation" class="block text-gray-700 text-sm font-bold mb-2">Confirmar Contraseña</label>
    <input
      [(ngModel)]="user.password_confirmation"
      name="password_confirmation"
      type="password"
      required
      placeholder="Confirmar Contraseña"
      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
      id="password_confirmation"
    >
    <!-- Mensaje de error si las contraseñas no coinciden -->
    <div *ngIf="passwordMismatch" class="text-red-500 text-xs mt-1">
      Las contraseñas no coinciden
    </div>
  </div>
  <div class="mb-4">
    <button
      (click)="onRegister()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none  w-full"
      type="button"
    >
      Continuar
    </button>
  </div>
  
  <div class="text-center text-sm text-gray-600 z-10 mb-4">
    ¿Ya tienes una cuenta? <a routerLink="/login" class="text-blue-500 hover:underline">Iniciar sesión</a>
  </div>
  <div class="flex justify-center items-center my-4">
    <div class="border-t border-gray-300 w-1/3"></div>
    <div class="text-gray-500 mx-2"></div>
    <div class="border-t border-gray-300 w-1/3"></div>
  </div>
  <div>
    <button
      class="bg-white hover:bg-gray-100 border border-gray-300 text-gray-700 font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline w-full flex items-center justify-center"
    >
      <svg class="w-5 h-5 mr-2" viewBox="0 0 48 48">
        <defs>
          <path id="a" d="M44.5 20H24v8h11.3c-.8 2.3-3 7.4-6.8 7.4-3.2 0-7.2-5.2-7.2-11.7S16.5 6 20 6c2.2 0 4.1.9 5.5 2.2l4.5-4.5c-2.8-2.7-6.8-4.5-11-4.5-9.2 0-16.8 8-16.8 17.7s7.6 17.5 16.8 17.5c9.3 0 15.4-6.2 15.4-14.8 0-.8-.1-1.4-.3-2z"/>
        </defs>
        <clipPath id="b">
          <use xlink:href="#a" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#b)" fill="#4285F4" d="M44.5 20H24v8h11.3c-.8 2.3-3 7.4-6.8 7.4-3.2 0-7.2-5.2-7.2-11.7S16.5 6 20 6c2.2 0 4.1.9 5.5 2.2l4.5-4.5c-2.8-2.7-6.8-4.5-11-4.5-9.2 0-16.8 8-16.8 17.7s7.6 17.5 16.8 17.5c9.3 0 15.4-6.2 15.4-14.8 0-.8-.1-1.4-.3-2z"/>
        <path clip-path="url(#b)" fill="#34A853" d="M24 28v16.4c4.7 0 8.8-3.2 10.7-7.8l-4.6-4.1c-1.9 1.3-4.9 2.1-6.1 2.1-5.2 0-11.8-4.4-11.8-11.8s6.6-11.8 11.8-11.8c1.4 0 2.3.2 3.2.7l4.6 4.1c-3.9 2.7-6.9 8.6-6.9 14.8 0 2.3.5 4.3 1.3 6z"/>
        <path clip-path="url(#b)" fill="#FBBC05" d="M6 22.3c-.3-1.3-.4-2.7-.4-4.1 0-6.6 5.4-11.9 11.9-11.9 1.7 0 3.4.5 4.8 1.4l4.5 4.5c-2.4 2.3-3.9 6.8-3.9 11 0 4.7 2.1 8.6 5.1 11.1l-4.6 4.1c-2.5-1.7-4.6-5.3-4.6-8.6z"/>
        <path clip-path="url(#b)" fill="#EA4335" d="M24 6c5.1 0 9.4 3.4 10.7 7.8l4.5-4.5c-2.2-2.1-5.1-3.4-8.3-3.4-6.6 0-11.9 5.3-11.9 11.9 0 1.4.2 2.7.5 4.1l-11.9 0c-1.3-.3-2.5-.8-3.7-1.4-6.6 0-11.9 5.3-11.9 11.9s5.3 11.9 11.9 11.9c3.4 0 6.3-1.4 8.3-3.4l4.6 4.1c-2.8 2.2-6.4 3.5-10.6 3.5-6.6 0-11.9-5.3-11.9-11.9 0-1.3-.2-2.7-.5-4.1l11.9 0c1.3.3 2.5.8 3.7 1.4 6.6 0 11.9-5.3 11.9-11.9s-5.3-11.9-11.9-11.9z"/>
      </svg>
      Continua con Google
    </button>
  </div>
</div>