<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
    <div class="mb-8">
      <img src="URL_DE_TU_LOGO" alt="Moramor Logo" class="h-20" />
    </div>
    <div class="text-center text-blue-800 font-semibold mb-4">
      <p class="noto-sans-regular text-lg">Gracias por visitarnos.</p>
      <p class="noto-sans-regular text-lg">Este sitio web está destinado únicamente para personas mayores de 18 años.</p>
    </div>
    <div class="text-center text-gray-700">
      <p class="noto-sans-italic text-xl">¡Te invitamos a regresar cuando estés listo!</p>
      <p class="noto-sans-italic text-xl ">Moramor te desea un excelente día.</p>
    </div>

  </div>