<div class="flex items-center justify-center  px-4 mt-30">
    <div class=" p-10 rounded-2xl shadow-md min-w-[766px] text-center min-h-[615px]">
      
      <!-- Icono -->
      <div class="flex justify-center mb-4">
        <svg class="w-8 h-8 text-[#1A237E]" fill="none" stroke="currentColor" stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M16 12H8m8 0H8m8 0v4a2 2 0 002 2H6a2 2 0 01-2-2v-4m0 0v-4a2 2 0 012-2h12a2 2 0 012 2v4"></path>
        </svg>
      </div>
      <div class="max-w-[526px] mx-auto">
      <!-- Título -->
      <h1 class="abhaya-libre-medium !text-[#28388E] !text-[48px]">Por favor verifica tu correo</h1>
  
      <!-- Subtítulo -->
      <p class="noto-sans-regular !text-[#9096A2] !text-[16px] !mt-10">
        ¡Ya casi tienes tu perfil! Te mandamos un correo a
      </p>
  
      <!-- Correo -->
      <p class="noto-sans-bold !text-[#9096A2] !text-[16px] !mt-10">
        {{email}}
      </p>
  
      <!-- Explicación -->
      <p class="noto-sans-regular !mt-15 !text-[#9096A2] !text-[16px]">
        Solo has click en el link en el correo que para completar tu registro. Si no puedes ver el correo, te sugerimos revisar tu carpeta de correos no deseados.
      </p>
  
      <!-- ¿No te llegó? -->
      <p class="noto-sans-regular !text-[#9096A2] !text-[16px] !mt-20">¿No te llegó el correo?</p>
  
      <!-- Link de contacto -->
      <p class="noto-sans-regular !text-[#9096A2] !text-[16px]">
        ¿Necesitas ayuda? 
        <a href="#" class="text-[#1A237E] underline">Contáctanos</a>
      </p>
    </div>
    </div>
  </div>
  