<body class="bg-white">
  <section>
    <img src="agave.jpg" alt="Agave" class="w-full object-cover h-[1440px] h-[768px]" />
  </section>

  <section class="max-w-6xl mx-auto py-20 px-4 grid md:grid-cols-2 gap-12 items-center">
    <div class="text-[#1F1F44] max-w-98">
      <h2 class="abhaya-libre-extrabold text-3xl md:text-4xl font-bold border-b-2 border-[#1F1F44] pb-2 mb-6 abhaya-libre-bold">Hecho con amor</h2>
      <p></p>
      <p class="noto-sans-italic text-gray-500 mt-5 mb-6">
        En Moramor, no solo elaboramos tequila: embotellamos amor.
      </p>
      <p class="noto-sans-regular text-gray-600  mb-6">
        Nacido de la pasión y entrega de dos personas que pusieron el corazón en crear algo verdaderamente extraordinario, Moramor es mucho más que una bebida—es una experiencia.
      </p>
      <p class="noto-sans-regular text-gray-600 mb-6">
        Cada botella celebra el vínculo profundo, el cuidado y la dedicación que implica amar de verdad—ya sea a alguien o a algo muy especial.
      </p>
      <p class="noto-sans-regular text-gray-600 mb-10">
        Elaborado con lo mejor de nuestras tradiciones mexicanas, cada sorbo es un viaje de sabor auténtico que reconforta el alma y nos une más.
      </p>
      <button class="noto-sans-regular mt-5 px-8 py-3 btn-void"
      (click)="goToAbout()"
      >
        Aprender más
        
      </button>
    </div>
    <div>
      <img src="jimador.jpg" alt="Jimador" class="w-full rounded-xl" />
    </div>
  </section>


  <div class="w-full h-[550px] bg-indigo-100"></div>

  <section class="max-w-6xl mx-auto py-16 px-4 grid grid-cols-1 sm:grid-cols-3 gap-6">
    <div class="h-40 bg-gray-200 flex items-center justify-center">
      <img src="img-placeholder.png" alt="" class="h-6">
    </div>
    <div class="h-40 bg-gray-200 flex items-center justify-center">
      <img src="img-placeholder.png" alt="" class="h-6">
    </div>
    <div class="h-40 bg-gray-200 flex items-center justify-center">
      <img src="img-placeholder.png" alt="" class="h-6">
    </div>
  </section>

  <section class="w-full flex mb-50">
    <div class="w-1/2 bg-indigo-100 py-16 px-4">
    </div>
    <div class="w-1/2 bg-[#283593] text-white py-16 px-8 flex justify-center items-center">
      <div class="max-w-md">
        <h2 class="abhaya-libre-semibold text-3xl mb-6">Lorem Ipsum</h2>
        <p class="noto-sans-regular text-lg mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat sem justo. Curabitur auctor lacus sit amet feugiat molestie. Pellentesque vestibulum ac leo nec condimentum. Aliquam id ullamcorper dolor.
          <br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat sem justo. Curabitur auctor lacus sit amet feugiat molestie. Pellentesque vestibulum ac leo nec condimentum. Aliquam id ullamcorper dolor.
        </p>
        <button class="noto-sans-regular btn-blue" (click)="goToAbout()">Aprender más</button>
      </div>
    </div>
  </section>
  <p></p>
  <p></p>
  <p></p>
</body>

