<div *ngIf="user">
  <h2>Editar Perfil</h2>

  <form (ngSubmit)="updateProfile()">
    <label>
      Nombre:
      <input [(ngModel)]="user.name" name="name" required />
    </label>
    <br />
    <label>
      Email:
      <input [(ngModel)]="user.email" name="email" type="email" required />
    </label>
    <br />
    <label>
      Nueva contraseña:
      <input [(ngModel)]="password" name="password" type="password" placeholder="Opcional" />
    </label>
    <br />
    <button type="submit">Guardar Cambios</button>
    <p *ngIf="updateMessage">{{ updateMessage }}</p>
  </form>

  <hr />

  <h3>Direcciones guardadas</h3>

  <ul *ngIf="addresses.length > 0; else sinDirecciones">
    <li *ngFor="let address of addresses">
      <div *ngIf="!address.editing">
        <strong>{{ address.street }}</strong><br />
        {{ address.city }}, {{ address.state }}<br />
        {{ address.postal_code }}, {{ address.country }}<br />
        <button (click)="address.editing = true">Editar</button>
        <button (click)="deleteAddress(address)">Eliminar</button>

      </div>
  
      <div *ngIf="address.editing">
        <input [(ngModel)]="address.street" placeholder="Calle" />
        <input [(ngModel)]="address.city" placeholder="Ciudad" />
        <input [(ngModel)]="address.state" placeholder="Estado" />
        <input [(ngModel)]="address.postal_code" placeholder="Código postal" />
        <input [(ngModel)]="address.country" placeholder="País (código ISO)" />
        <button (click)="updateAddress(address)">Guardar</button>
        <button (click)="address.editing = false">Cancelar</button>
      </div>
    </li>
  </ul>
  
  <ng-template #sinDirecciones>
    <p>No tienes direcciones guardadas.</p>
  </ng-template>
  

  <form (ngSubmit)="addAddress()">
    <input [(ngModel)]="newAddress.street" name="street" placeholder="Calle" required />
    <input [(ngModel)]="newAddress.city" name="city" placeholder="Ciudad" required />
    <input [(ngModel)]="newAddress.state" name="state" placeholder="Estado" required />
    <input [(ngModel)]="newAddress.postal_code" name="postal_code" placeholder="Código postal" required />
    <input [(ngModel)]="newAddress.country" name="country" placeholder="País (código ISO: mx, us, fr...)" required />
    <button type="submit">Agregar Dirección</button>
  </form>
</div>
