<div class="user-container">
  <h2 class="text-center abhaya-libre-extrabold !text-[#28388E] mb-2 !mt-7">¡Hola, {{ user.name }}!</h2>
  <p class="text-center text-base noto-sans-regular !text-[#28388E] mb-6  !mt-7">Bienvenido a tu perfil</p>

  <div class="card shadow p-8 w-full max-w-4xl mx-auto rounded-lg border border-gray-200 bg-white !mt-10">
     <div class="max-w-md mx-auto">
    <section class="mb-6">
      <h3 class="noto-sans-regular !text-[#28388E] text-lg mb-2 !text-[24px] !text-[#28388E] !mt-8">Perfil</h3>

      <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40]">Nombre</label>
      <input
        readonly
        class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-4"
        [(ngModel)]="user.name" />

      <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40]">Correo</label>
      <input
        readonly
        class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-4"
        [(ngModel)]="user.email" />
    </section>

          <div class="flex justify-center pb-2 px-4">
          <img src="separador.svg" alt="separador" class="max-h-16 max-w-80 ">
        </div>

    <section class="mb-6">
      <p class="mb-2 !noto-sans-regular !text-[24px] !text-[#28388E] !mt-8">Direcciones</p>
        <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40]">Seleccione la dirección guardada</label>
        <select
          class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-4"
          [(ngModel)]="selectedAddress"
          [compareWith]="compareAddress"
          (change)="onAddressChange()">
          <option *ngFor="let address of addresses" [ngValue]="address">
            {{ address.street }}
          </option>
          <option [ngValue]="null" class="!text-[#28388E] font-bold">+ Agregar nueva dirección</option>
        </select>
      <div *ngIf="addressMode === 'saved'">


   <section *ngIf="selectedAddress">
  <p class="!noto-sans-regular text-md mb-2 !text-[24px] !text-[#28388E]">Datos</p>
  
  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Calle y número*</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.street"
    placeholder="Ej: Av. Juárez 123" />

      <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Interior*</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.address2"
    placeholder="Ej: Centro" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Colonia*</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.colonia"
    placeholder="Ej: Centro" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Ciudad/Municipio*</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.city"
    placeholder="Ej: Guadalajara" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Estado*</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.state"
    placeholder="Ej: Jalisco" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Código Postal*</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.postal_code"
    placeholder="Ej: 44100" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">País</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="selectedAddress.country"
    placeholder="México" />
</section>
      </div>

      <!-- Formulario para nueva dirección -->
 <div *ngIf="addressMode === 'new'">
  <p class="!noto-sans-regular text-md mb-2 !text-[24px] !text-[#28388E]">Nueva dirección</p>
  
  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Calle y número*</label>
  <input
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="newAddress.street" 
    required
    placeholder="Ej: Av. Juárez 123" />
  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Interior*</label>
  <input
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="newAddress.address2"
    required
    placeholder="Opcional" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Colonia*</label>
  <input
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="newAddress.colonia"
    required
    placeholder="Ej: Centro" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Ciudad/Municipio*</label>
  <input
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="newAddress.city"
    required
    placeholder="Ej: Guadalajara" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Estado*</label>
  <input
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="newAddress.state"
    required
    placeholder="Ej: Jalisco" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">Código Postal*</label>
  <input
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    [(ngModel)]="newAddress.postal_code"
    required
    pattern="[0-9]{5}"
    maxlength="5"
    placeholder="Ej: 44100" />

  <label class="block mb-1 noto-sans-regular !text-[16px] !text-[#000A40] !mt-3">País</label>
  <input
    readonly
    class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none !bg-[#F4F4F6] mb-2"
    value="México" />

  <div class="flex justify-center gap-8 mt-6">
    <button 
      class="btn-void px-6 py-2" 
      (click)="addAddress()"
      [disabled]="!isAddressFormValid()">
      Guardar
    </button>
    <button class="text-sm !text-[#B20808] cursor-pointer px-6 py-2 hover:underline !mr-10" 
            (click)="addressMode = 'saved'">Cancelar</button>
  </div>
</div>
    </section>

<div *ngIf="addressMode !== 'new'" class="w-full flex justify-center gap-8 mt-6">
  <button class="btn-void px-6 py-2" (click)="navigateToEdit()">Editar</button>
  <button class="text-sm !text-[#B20808] cursor-pointer px-6 py-2 hover:underline !mr-6" (click)="logout()">Cerrar sesión</button>
</div>
  </div>
  </div>
</div>