a {
    text-decoration: none !important;
  }
  
  a:hover {
    text-decoration: none !important;
  }

  /* Elimina o modifica estos estilos */
header {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  
  nav {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  /* Asegúrate de que los enlaces no tengan subrayado */
  a {
    text-decoration: none;
  }
  
  /* Estilos para el modo oscuro */
  .dark nav {
    background-color: transparent;
  }

  .age-verification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* filtro opaco */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10000;
  }
  
  .age-verification-box {
    width: 100%;
    max-width: 100%;
    background: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .logo-age img {
    height: 50px;
    margin: 0 auto 1rem auto;
  }
  
  .age-verification-box h2 {
    font-size: 1.25rem;
    color: #1c2b7b;
    margin-bottom: 1.5rem;
  }
  
  .age-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    min-width: 267px;
  }
  
  .btn-age {
    padding: 0.75rem 1.5rem;
    border: 2px solid #1c2b7b;
    background: white;
    color: #1c2b7b;
    font-weight: bold;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 267px;
  }
  
  .btn-age.primary {
    background: #1c2b7b;
    color: white;
  }
  
  .btn-age:hover {
    background: #1c2b7b;
    color: white;
  }
  
  .age-note {
    font-size: 0.75rem;
    color: gray;
  }
  .my-link {
    text-decoration: none;
  }

  .btn-idioma {
    border: 2px solid #1c2b7b;
    background: transparent;
    color: #1c2b7b;
    font-weight: bold;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px; 
    min-height: 46px;
  }

  .btn-idioma:hover {
    background: #1c2b7b;
    color: white;
  }